.wrapper {
  /*height: 60rem;*/
  box-sizing: border-box;
}


/*
.codeWrapper {
  flex: 1;
  height: 200%;
  transition: opacity 0.5s ease-in;
}*/

.codeWrapper {
  display: inline-block;
  box-sizing: border-box;
  /*height: 100% !important;*/
  width: 100%;
  border: 2px solid gray(5%, 10%);
}

.button {
  right: 4rem;
  position: absolute;
  cursor: pointer;
  top: 3rem;
  z-index: 999;
}
