.afterglow-ansi-theme {
  background-color: #202020;
  color: #6c99bb;
}

.afterglow-ansi-theme .ansi-black-fg {
  color: #202020;
}
.afterglow-ansi-theme .ansi-red-fg {
  color: #80435d;
}
.afterglow-ansi-theme .ansi-green-fg {
  color: #7c9044;
}
.afterglow-ansi-theme .ansi-yellow-fg {
  color: #e7b75a;
}
.afterglow-ansi-theme .ansi-blue-fg {
  color: #6c99bb;
}
.afterglow-ansi-theme .ansi-magenta-fg {
  color: #80435d;
}
.afterglow-ansi-theme .ansi-cyan-fg {
  color: #6c99bb;
}
.afterglow-ansi-theme .ansi-white-fg {
  color: #6c99bb;
}
.afterglow-ansi-theme .ansi-bright-black-fg {
  color: #202020;
}
.afterglow-ansi-theme .ansi-bright-red-fg {
  color: #80435d;
}
.afterglow-ansi-theme .ansi-bright-green-fg {
  color: #7c9044;
}
.afterglow-ansi-theme .ansi-bright-yellow-fg {
  color: #e7b75a;
}
.afterglow-ansi-theme .ansi-bright-blue-fg {
  color: #6c99bb;
}
.afterglow-ansi-theme .ansi-bright-magenta-fg {
  color: #80435d;
}
.afterglow-ansi-theme .ansi-bright-cyan-fg {
  color: #6c99bb;
}
.afterglow-ansi-theme .ansi-bright-white-fg {
  color: #6c99bb;
}
.afterglow-ansi-theme .ansi-black-bg {
  background-color: #202020;
}
.afterglow-ansi-theme .ansi-red-bg {
  background-color: #80435d;
}
.afterglow-ansi-theme .ansi-green-bg {
  background-color: #7c9044;
}
.afterglow-ansi-theme .ansi-yellow-bg {
  background-color: #e7b75a;
}
.afterglow-ansi-theme .ansi-blue-bg {
  background-color: #6c99bb;
}
.afterglow-ansi-theme .ansi-magenta-bg {
  background-color: #80435d;
}
.afterglow-ansi-theme .ansi-cyan-bg {
  background-color: #6c99bb;
}
.afterglow-ansi-theme .ansi-white-bg {
  background-color: #6c99bb;
}
.afterglow-ansi-theme .ansi-bright-black-bg {
  background-color: #202020;
}
.afterglow-ansi-theme .ansi-bright-red-bg {
  background-color: #80435d;
}
.afterglow-ansi-theme .ansi-bright-green-bg {
  background-color: #7c9044;
}
.afterglow-ansi-theme .ansi-bright-yellow-bg {
  background-color: #e7b75a;
}
.afterglow-ansi-theme .ansi-bright-blue-bg {
  background-color: #6c99bb;
}
.afterglow-ansi-theme .ansi-bright-magenta-bg {
  background-color: #80435d;
}
.afterglow-ansi-theme .ansi-bright-cyan-bg {
  background-color: #6c99bb;
}
.afterglow-ansi-theme .ansi-bright-white-bg {
  background-color: #6c99bb;
}
