.ansiterm {
  /*height: 60rem;*/
  box-sizing: border-box;
  padding: 10px;
  background-color: #3A3A3A;
}

.line {
  font-family: Roboto, Consolas, "Lucida Console", Monaco, "Courier New", Courier, monospace, serif;
  font-size: 0.8em;
  white-space: pre-wrap;
  line-height: 20px;
}
