$black: rgb(32, 32, 32);
$green: rgb(124, 144, 68);
$yellow: rgb(231, 183, 90);
$blue: rgb(108, 153, 187);
$magenta: rgb(128, 67, 93);
$cyan: rgb(108, 153, 187);
$white: rgb(108, 153, 187);
$red: rgb(128, 67, 93);

.afterglow-ansi-theme {
  .ansi-black-fg {
    color: $black;
  }
  .ansi-red-fg {
    color: $red;
  }
  .ansi-green-fg {
    color: $green;
  }
  .ansi-yellow-fg {
    color: $yellow;
  }
  .ansi-blue-fg {
    color: $blue;
  }
  .ansi-magenta-fg {
    color: $magenta;
  }
  .ansi-cyan-fg {
    color: $cyan;
  }
  .ansi-white-fg {
    color: $white;
  }
  .ansi-bright-black-fg {
    color: $black;
  }
  .ansi-bright-red-fg {
    color: $red;
  }
  .ansi-bright-green-fg {
    color: $green;
  }
  .ansi-bright-yellow-fg {
    color: $yellow;
  }
  .ansi-bright-blue-fg {
    color: $blue;
  }
  .ansi-bright-magenta-fg {
    color: $magenta;
  }
  .ansi-bright-cyan-fg {
    color: $cyan;
  }
  .ansi-bright-white-fg {
    color: $white;
  }
  .ansi-black-bg {
    background-color: $black;
  }
  .ansi-red-bg {
    background-color: $red;
  }
  .ansi-green-bg {
    background-color: $green;
  }
  .ansi-yellow-bg {
    background-color: $yellow;
  }
  .ansi-blue-bg {
    background-color: $blue;
  }
  .ansi-magenta-bg {
    background-color: $magenta;
  }
  .ansi-cyan-bg {
    background-color: $cyan;
  }
  .ansi-white-bg {
    background-color: $white;
  }
  .ansi-bright-black-bg {
    background-color: $black;
  }
  .ansi-bright-red-bg {
    background-color: $red;
  }
  .ansi-bright-green-bg {
    background-color: $green;
  }
  .ansi-bright-yellow-bg {
    background-color: $yellow;
  }
  .ansi-bright-blue-bg {
    background-color: $blue;
  }
  .ansi-bright-magenta-bg {
    background-color: $magenta;
  }
  .ansi-bright-cyan-bg {
    background-color: $cyan;
  }
  .ansi-bright-white-bg {
    background-color: $white;
  }
}
